.table-container {
    width: 50%;
    margin-left: 10px;
  }


.custom-table {
width: 100%;
margin: 0;
border-collapse: collapse;
text-align: left;
box-shadow: 0 2px 4px rgba(0, 0, 0, 10);

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: red;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #ffe6e6; /* Tono de rojo más suave */
}

tr:hover {
    background-color: #ffb3b3; /* Rojo más intenso al pasar el cursor */
}
}


#carouselExampleIndicators{
    display: inline-block;
    border: solid black;
    box-sizing: border-box;
    box-sizing: content-box;
    width: 50%;
    height: 50%;
    margin: 5%;


}

#carouselExampleIndicators img{
    height: 300px;
    width: 300px;
    
}