h2{
    font-family: "Bebas Neue";
}
.table-container {
    width: 50%;
    margin-left: 10px;
    display: grid;
    gap:1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
  }
.motor-table {
    grid-row: span 2;
 }

 @media (max-width: 768px) {
 .table-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 }
}

.custom-table{
width: 100%;
margin: 0;
border-collapse: collapse;
text-align: left;
box-shadow: 0 2px 4px rgba(0, 0, 0, 10);
margin-bottom: 10px;}


th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #000; /* Cambiamos el color del texto a negro */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Cambiamos el fondo a un tono de blanco más claro */
}

tr:hover {
    background-color: #e6e6e6; /* Cambiamos el fondo a un tono de blanco más oscuro al pasar el cursor */
}



#carouselExampleIndicators{
    display: inline-block;
    border: solid black;
    box-sizing: border-box;
    box-sizing: content-box;
    width: 50%;
    height: 50%;
    margin: 5%;


}

#carouselExampleIndicators img{
    height: 300px;
    width: 300px;
    
}

.carousel-control{
    z-index: 0;
}