#tituloConsultanos{
    margin-top: 80px;
    font-family: "Bebas Neue";
}

.gridConsultanos{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 50px;
}

.redesSociales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 5px;
    gap: 2px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 10);
    background-color: black;
    h2{
        color: aliceblue;
        font-family: "Courier Prime";
    }
    img {
        transition: transform 0.7s;
      
        &:hover {
          transform: perspective(1000px) rotateY(360deg);
        }
      }
      
}

main {
    section {
      form {
        margin-top: 54px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        textarea {
            width: 95%;
            transition: transform 0.3s;   
          }
    
        textarea:focus {
            background-color: beige;
            transform: scale(1);
            width: 100%;
          }
        }
        }
        input{
            width: 95%;
            transition: all 0.3s;
        &:focus{
            background-color: beige;
            width: 100%;

        }
        }
      }

  
.boton-enviar{
    width: 20%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #833ab4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #562079;
    
    }
}
.redesSociales{
    img{
        width: 100px;
        height: auto;
        background-color: transparent;
    }
}

.horarios {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 10);
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        
    }
    p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
    }
}

.mapaConsultanos {
    width: 400px;
    height: 400px;
    position: relative;
    align-items: center;

}

.mensaje{
    color: white;
    margin-top: 10px; 
    h2{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
}