h1{
    margin-top: 20px;
    font-family: "Bebas Neue"
}

h2{
    font-family: "Bebas Neue"
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    margin-bottom: 5px;
}

