.card{
    h5{color: $color-tituloTarjeta;}
    img{
        width: 100% !important;
        height: 150px !important;
    }
}
.card{
    transition: transform 0.3s;
    &:hover{
        transform: perspective(1000px) translateZ(50px);;
    }
}

@font-face {
    font-family: "Clegane";
    src: url(../fonts/Clegane.ttf);
}
.tituloIndex{
    width: 100%;
    margin-top: 78px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.tituloPrimeraMitad{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}

.tituloSegundaMitad{
    color: #D7350F;
    font-family: Clegane;
    font-size: 100px;
}

body{
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}