.card{
    img{
        width: 100% !important;
        height: 150px !important;
    }
}
.card{
    transition: transform 0.3s;
    &:hover{
        transform: perspective(1000px) translateZ(50px);;
    }
}

@font-face {
    font-family: "Clegane";
    src: url(../fonts/Clegane.ttf);
}
.tituloIndex{
    width: 100%;
    margin-top: 78px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.tituloPrimeraMitad{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}

.tituloSegundaMitad{
    color: #D7350F;
    font-family: Clegane;
    font-size: 100px;
}

h5{
    font-family: "Bebas Neue";
}
.precios {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .precioLista,
    .oferta {
        display: inline-block;

        h6 {
            display: flex;
            justify-content: center;
            color: white;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 20px;
        }
    }

    .precioLista {
        h6 {
            background-color: red;
        }
    }

    .oferta {
        h6 {
            background-color: black;
        }
    }
}
