@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3";
}

nav {
  background-color: green;
}
nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: flex;
  text-align: center;
  padding: 16px;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

nav a img {
  border-radius: 70px;
  width: 70px;
  height: auto;
  display: inline-block;
}

main {
  background-color: gray;
  margin-top: 70px;
}

footer {
  background-color: black;
}
footer p {
  color: aliceblue;
}

footer div a {
  text-decoration: none;
}
footer div span {
  margin-left: 2px;
}

.logo {
  border-radius: 70px;
  width: 70px;
  height: auto;
  display: inline-block;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-item {
  margin-bottom: 4px;
}

img .logo {
  border-radius: 70px;
  width: 70px;
  height: auto;
  display: inline-block;
}

.card img {
  width: 100% !important;
  height: 150px !important;
}

.card {
  transition: transform 0.3s;
}
.card:hover {
  transform: perspective(1000px) translateZ(50px);
}

#tituloConsultanos {
  margin-top: 80px;
}

.gridConsultanos {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 50px;
}

.redesSociales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 5px;
}

main section form {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
main section form textarea {
  width: 95%;
  transition: transform 1.3s;
}
main section form textarea:focus {
  background-color: beige;
  transform: scale(1);
  width: 100%;
}
main input {
  width: 95%;
  transition: all 0.3s;
}
main input:focus {
  background-color: beige;
  width: 100%;
}

.boton-enviar {
  width: 55px;
}

.redesSociales img {
  width: 100px;
  height: auto;
  background-color: transparent;
}

.horarios {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}

.mapaConsultanos {
  width: 400px;
  height: 400px;
  position: relative;
  align-items: center;
}

.mensaje {
  color: white;
  margin-top: 10px;
}

.table-container {
  width: 50%;
  margin-left: 10px;
}

.custom-table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  text-align: left;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
}
.custom-table th, .custom-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: red;
}
.custom-table th {
  font-weight: bold;
}
.custom-table tr:nth-child(even) {
  background-color: #ffe6e6; /* Tono de rojo más suave */
}
.custom-table tr:hover {
  background-color: #ffb3b3; /* Rojo más intenso al pasar el cursor */
}

#carouselExampleIndicators {
  display: inline-block;
  border: solid black;
  box-sizing: border-box;
  box-sizing: content-box;
  width: 50%;
  height: 50%;
  margin: 5%;
}

#carouselExampleIndicators img {
  height: 300px;
  width: 300px;
}

.cabecera img {
  width: 200px;
}/*# sourceMappingURL=main.css.map */