$color-tituloTarjeta: blue;
$color-preciosmotos:red;

main{background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);}
body{background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);}


@import "navbar";
@import "index";
@import "consultanos";
@import "benelli302s";
@import "nuestrasmarcas";
@import "dondeestamos";




