*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3";
    
    
}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

li{
    float: left;
}

li a {
    display: flex;
    text-align: center;
    padding: 16px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}


header {
    background-color: black;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav {
    background-color: green;
}

/* esto afecta solo a la pagina index */
.moto{
    display: inline-block;
    border: solid black;
    box-sizing: border-box;
    box-sizing: content-box;
    width: 25%;
    height: auto;
    margin: 5%;
}

main .moto img{
    width: 100%;
    height: 150px;
}

h1{
    color: rgb(255, 255, 255);
}

main{
    background-color: grey;
    margin-top: 70px;
    
    
}

footer{
    background-color: black;
}

footer p{
    color: aliceblue;
}

img.logo{
    border-radius: 70px;
    width: 70px;
    height: auto;
    display: inline-block;
    
}
/* esto afecta a la pagina consultanos */

#tituloConsultanos{
    margin-top: 80px;
}
.gridConsultanos{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 50px;
    
    
}
.redesSociales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 5px;
}


main section form {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

main section form :nth-child(6){
    width: 50px;
}

.redesSociales img{
    width: 100px;
    height: auto;
    background-color: transparent;
    

}

.horarios {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}


.mapaConsultanos {
    width: 500px;
    height: 500px;

}

h3{
    color: white;
    margin-top: 10px; ;
}





/* esto afecta a la pagina benelli302 */
 table, th, td {
    border: 1px solid black;
    border-collapse: collapse;   
}

#carouselExampleIndicators{

    display: inline-block;
    border: solid black;
    box-sizing: border-box;
    box-sizing: content-box;
    width: 50%;
    height: 50%;
    margin: 5%;


}

#carouselExampleIndicators img{
    height: 300px;
    width: 300px;
    
}
    
/* aca empiezo a trabajar en la pagina "donde estamos */
#layout{
    display: grid;
    gap: 5px;
    grid-template-areas: 
        "navegacion navegacion navegacion"
        "contMain contMain contMain"
        "pie pie pie"
}
header{
    grid-area: navegacion;
}

main{
    grid-area: contMain;
}
footer{
    grid-area: pie;
}

/* prueba index con grid de bootstrap */

.card img{
    width: 100% !important;
    height: 150px !important;
}

nav a img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}


.container-fluid{
    background-color: rgba(139, 137, 137, 0.947)
    margin-top 80px;
    

}
.navbar{
    
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
 .nav-item{
    margin-bottom: 4px;
 }



